<footer class="site-footer">
    <img src="{{ site.footer_image | relative_url }}" alt="{{ site.footer_image_alt_text }}" style="width: 100%; padding: 0 25%;" />
    <p class="text">
        {{ site.footer_design_credit | default: " " }}</br>
        {{ site.footer_theme_credit | default: " " }}</br>
        {% if page.layout == "home" %}
            {{ site.footer_banner_credit | default: " " }}
        {% elsif page.layout == "page" %}
            {{ page.footer-banner-credit | default: " " }}
        {% endif %}
    </p>
    <div class="footer-icons">
        <ul>
            <!-- Social icons from Font Awesome, if enabled -->
            {% include social/icons.liquid %}
        </ul>
    </div>
    {% if site.mermaid %}
        <script type="module">
          mermaid.initialize({ startOnLoad: false, theme: "default" });
          mermaid.run({ nodes: [...document.querySelectorAll('.language-mermaid'), ...document.querySelectorAll('.mermaid')] });
        </script>
    {% endif %}
</footer>
